@-webkit-keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
.portfolio-menu{
    display: none;
    background-color: rgb(99, 97, 97);
    margin-top: 190px;
    position: absolute;
    text-align: center;
}
.portfolio:hover>.portfolio-menu{
    display: block;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}
.element-portfolio{
    padding: 20px;
}
.portfolio-menu li{
    text-align: center;
    position: relative;
    display: list-item;
}
.dropdown-element{
    display: flex;
    justify-content: center;
}
.portfolio-menu li:hover{
    background-color: rgb(81, 79, 79);
}