@keyframes logo-animation {
    100% {
        transform: rotate(360deg);
    }
}
*{
    list-style: none;
    text-decoration: none;
    
}
.main-header{
    display: flex;
    flex-direction: column;
    height:100%;
    top: 0;
}
.menu{
    width: 100%;
    display: flex;
    justify-content: center;
    height: fit-content;
    padding: 20px;
    margin: 0;
    position: absolute;
    z-index: 2;
    margin-top: 40px;
}
.menu-list{
    margin: 0;
    display: flex;
    justify-content: space-between;
    width: 90%;
}
.menu-element a, .menu-element p{
    color: white;
    font-family: 'Apple chancery';
    cursor: pointer;
    text-align: center;
}
.menu-element{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    position: relative;
    
}
.home{
    font-size: xx-large;
}
hr{
    width: 80%;
}
.more{
    display: flex;
    justify-content: center;
}
.more-button{
    background-color: gray;
    color: white;
    text-transform: uppercase;
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
}
.more-button:hover{
    opacity: 0.9;
}
.cytat{
    padding: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
}
.cytat-text{
    width: 60%;
}
.info{
    padding: 10px;
    display: flex;
    justify-content: center;
    text-align: center;
}
.more{
    padding: 35px;
}
.image{
    position: relative;
}
.img-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: x-large;
} 
.menu-element:hover{
    transform: scale(1.05);
    transition: 0.7s;
}
.info-text{
    width: 70%;
}
.hr-pierwszy{
    width: 50%;
}
footer{
    padding: 10px;
    background: linear-gradient(150deg,#464646,rgb(37, 35, 35));
    position: static;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.footer-opis{
    font-size: large;
    display: flex;
    justify-content: center;
    color: white;
    margin-top: 10px;
}
.odnosniki{
    display: flex;
    justify-content: center;
    padding: 10px;
}
.odnosniki a{
    display: flex;
    align-items: center;
    margin:2vw;
    border:1px solid white;
    padding: 10px;
    border-radius: 60%;
}
.odnosniki a:hover{
    cursor: pointer;
    animation: logo-animation 1s;
}
