*{
    list-style: none;
    text-decoration: none;
    
}
.main-header{
    display: flex;
    flex-direction: column;
    height:100%;
    top: 0;
}
.menu{
    width: 100%;
    display: flex;
    justify-content: center;
    height: fit-content;
    padding: 20px;
    margin: 0;
    position: absolute;
    z-index: 100;
    margin-top: 40px;
}
.menu-list{
    margin: 0;
    display: flex;
    justify-content: space-between;
    width: 90%;
}
.menu-element a{
    color: white;
    font-family: 'Apple chancery';
    cursor: pointer;
}
.home{
    font-size: 3vw;
}
hr{
    width: 80%;
}
.more{
    display: flex;
    justify-content: center;
}
.button{
    background-color: gray;
    color: white;
    text-transform: uppercase;
    padding: 15px;
    border-radius: 5px;
}
.cytat{
    padding: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
}
.cytat-text{
    width: 60%;
}
.info{
    padding: 10px;
    display: flex;
    justify-content: center;
    text-align: center;
}
.more{
    padding: 35px;
}
.image{
    position: relative;
}
.img-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: x-large;
}