* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  position: relative;
  width: 100%;
  margin: 0;
  height: 100%;
  top: 0;

}

/* Hide the images by default */
.mySlides {
  display: block;
}


/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
@media (max-width:800px) {
  .header-image{
    display: none;
  }
  .slideshow-container{
    position: relative;
    height: 660px;
    overflow: hidden;
    background: url(glowne.jpg) no-repeat center;
    background-size: cover;
  }
}