@keyframes logo-animation {
    100% {
        transform: rotate(360deg);
    }
}
*{
    list-style: none;
    text-decoration: none;
    
}
.main-header{
    display: flex;
    flex-direction: column;
    height:100%;
    top: 0;
}
.menu{
    width: 100%;
    display: flex;
    justify-content: center;
    height: fit-content;
    padding: 20px;
    margin: 0;
    position: absolute;
    z-index: 2;
    margin-top: 40px;
}
.menu-list{
    margin: 0;
    display: flex;
    justify-content: space-between;
    width: 90%;
}
.menu-element a, .menu-element p{
    color: white;
    font-family: 'Apple chancery';
    cursor: pointer;
    text-align: center;
}
.menu-element{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    position: relative;
    
}
.home{
    font-size: xx-large;
}
.img-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 10vw;
} 
hr{
    width: 80%;
}
.info{
    padding: 10px;
    display: flex;
    justify-content: center;
    text-align: center;
}
.menu-element:hover{
    transform: scale(1.05);
    transition: 0.7s;
}
.info-text{
    width: 70%;
}
footer{
    padding: 10px;
    background: linear-gradient(150deg,#464646,rgb(37, 35, 35));
    position: static;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.footer-opis{
    font-size: large;
    display: flex;
    justify-content: center;
    color: white;
    padding-top: 10px;
}
.odnosniki{
    display: flex;
    justify-content: center;
    padding: 10px;
}
.odnosniki a{
    display: flex;
    align-items: center;
    margin:2vw;
    border:1px solid white;
    padding: 10px;
    border-radius: 60%;
}
.odnosniki a:hover{
    cursor: pointer;
    animation: logo-animation 1s;
}

/* gallery */
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 40px 20px 0 20px;
}
.gallery{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.section{
    display: flex;
    flex-direction: column;
    width: 32.5%;
}
.section img{
    width: 100%;
    padding-bottom: 15px;
    border-radius: 5px;
}
@media only screen and (max-width: 500px) {
    .section {
        width: 100%;
    }
    .gallery{
        flex-direction: column;
    }
    .section:nth-of-type(3){
        display: none;
    }
}