@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@keyframes logo-animation {
    100% {
        transform: rotate(360deg);
    }
}
html, body{
    height: 100%;
}
header{
    height: fit-content;
}
*{
    list-style: none;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif !important;
}
a{
    text-decoration: none !important;
}
/* navbar */
.main-header{
    display: flex;
    flex-direction: column;
    height:100%;
    top: 0;
}
.menu{
    width: 100%;
    display: flex;
    justify-content: center;
    height: fit-content;
    padding: 20px;
    margin: 0;
    z-index: 2;
    background-color: #334257;
}
.menu-list{
    margin: 0;
    display: flex;
    justify-content: space-between;
    width: 90%;
}
.menu-element>a, .menu-element>label{
    color: aliceblue;
    font-weight: 700;
    cursor: pointer;
    text-align: center;
}

.menu-element{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    position: relative;
    width: 10%;
}
.menu-element::after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: -4px;
    left: 0;
    background-color: #548CA8;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
.menu-element:hover::after{
    transform: scaleX(1);
    transform-origin: bottom left;
}
.home{
    font-size: xx-large;
}
.home-li{
    width: fit-content;
}
.under-menu{
    display: none;
    position: absolute;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    top: 100%;
    background-color: #476072;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.under-menu-element{
    justify-content: center;
    position: relative;
    display: flex;
    padding: 15px;
}
a.dropdown-element {
    display: flex;
    justify-content: center;
    color: aliceblue;
}

/* main */
main{
    background-color: #EEEEEE;
    display: flex;
    flex-direction: column ;
}
.slider{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10vw;
    padding-top: 5vw;
    padding-bottom: 5vw;
}
.slider-container{
    position: relative;
    width: 100%;
    margin: 0;
    height: 100%;
    top: 0;
}
.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.description{
    width: 70%;
    padding: 6vw;
    text-align: justify;
    padding-bottom: 0vw;
}
.desc-header{
    font-size: x-large;
}
.description>p{
    padding-top: 2vh;
    padding-bottom: 2vh;
    font-size: larger;
}
.description>p:nth-of-type(3){
    padding-top: 2vh;
    padding-bottom: 0vh;
}
.description>hr{
    border: 0.2vh solid black;
    border-radius: 2px;
    width: 100%;
}
.description>hr:nth-of-type(2){
    width: 60%;
}
.webinar{
    font-size: x-large;
    width: 70%;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.web{
    display: flex;
    padding: 1vh;
}
.web-btn{
    background-color: #476072;
    color: white;
    text-transform: uppercase;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;;
}
.location{
    padding: 6vw;
    width: 100%;
    display: flex;  
    text-align: center;
    justify-content: center;
}
.loc-desc{
    font-size: 5vw;
    text-align: right;
    padding: 1vw;
    padding-top: 0;
}
hr{
    border: 0.15vh solid black;
    border-radius: 2px;
    width: 70%;
}
iframe{
    border-radius: 1vw;
}
/* footer */

footer{
    padding: 10px;
    background: linear-gradient(150deg,#548CA8,#334257);
    position: static;
    bottom:0;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.footer-opis{
    font-size: large;
    display: flex;
    justify-content: center;
    color: white;
    margin-top: 10px;
}
.odnosniki{
    display: flex;
    justify-content: center;
    padding: 10px;
}
.odnosniki a{
    display: flex;
    align-items: center;
    margin:2vw;
    border:1px solid white;
    padding: 10px;
    border-radius: 60%;
}
.odnosniki a:hover{
    cursor: pointer;
    animation: logo-animation 1s;
}



/* small menu */
@-webkit-keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
.x-mark{
    color: white;
}
.container-header{
    display: none;
}
.line{
    display: block;
    position: relative;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    background-color: aliceblue;
    border-radius: 6px;
    transform-origin: 0 0;
    transition: 0.4s;
}
.menu-button{
    display: none;
}
#check-button{
    display:none;
}
.overlay-menu-button{
    display: none;
}
.under-menu-btn{
    display: none;
}
@media (max-width:842px) {
    @keyframes xmark {
        100% {
            transform: rotate(360deg);
        }
    }
    .main-header{
        background-color: #334257;
    }
    .menu-button{
        display: block;
        z-index: 3;
    }
    .overlay-menu-button{
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
    .overlay{
        display: flex;
        justify-content: flex-end;
        margin: 20px 20px 0px 0px ;
    }
    .menu{
        display: none;
    }
    .container-header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        position: static;
        padding: 20px;
    }
    .logo{
        color: white;
        font-size: x-large;
    }
    .menu-button:hover>.move-left{
        transform: translateX(-1vw);
    }
    .menu-button:hover>.move-right{
        transform: translateX(0.5vw);
    }
    #check-button:checked~.menu{
        transition: animation 2s;
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: #476072;
        margin-top: 0;
        -webkit-animation: fadeIn 1s;
        animation: fadeIn 1s;
    }
    body:has(#check-button:checked){
        overflow: hidden;
    }
    .menu-list{
        position: relative;
        display: block;
        height: 70%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        list-style: none;
        text-align: center;
        padding: 25px 0px 50px 0px;
        
    }
    .menu-element{
        display: block;
        width: 100%;
        position: relative;
        padding: 20px 30px 30px 30px;
    }
    .menu-element::after{
        width: 0%;
    }
    
    .temat21:hover~.temat2-menu{
        display: none;
    }
    #temat2-button:checked~.temat2-menu{
        display: block;
        animation: fadeIn 3s;
        transition: display 3s;
    }
    #temat1-button:checked~.temat1-menu{
        display: block;
    }
    #temat3-button:checked~.temat3-menu{
        display: block;
    }
    .under-menu{
        padding: 0;
        position: relative;
        margin-top: 0;
        background-color: transparent;
        animation: unset;
    }
    .menu-element:hover{
        transform: scale(1);
    }
    .temat2-menu li:hover{
        background-color: transparent;
    }
    .element-temat2:nth-child(3){
        padding-bottom: 0;
    }
    .x-mark:hover{
        animation: xmark 0.7s;
    }
    .home{
        font-size: medium;
    }
}

