.section-header{
  font-size: 2rem;
  position: relative;
  text-align: center;
  width: 100%;
}
figure, section{
 border:1px solid black;
 border-collapse: collapse  ;
}
figure{
  height:fit-content;
  width:20%;
}
figure + article{
  width:80%;
}
section{
width:100%;
display: flex;
flex-wrap: wrap;
font-size: large;
}
li > img{
  width:97.5vw;
}
div.bw{
  display: flex;
}